/* Add a border around the image */
.image-with-border {
    /* Border style: thick, solid line, color purple */
    border: thick solid #8f308f;
    border-radius: 20px; /* Optional: Add rounded corners for a softer look */
  }

  .img-container {
      text-align: center;
  }

  .caption {
      /* Red color in italics */
        font-style: italic;
        color: red;
  }