.nav {
  background-color: rgba(173, 216, 230, 0.97);
  text-align: center;
  width: 100%;
  padding: 10px;
}

.nav li {
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
}
